<!-- index.html --!>
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta infos --!>
    <meta charset="UTF-8"/>

    <!-- Page title --!>
    <title>/dev/wifi</title>

    <!---------!>
    <!-- CSS --!>
    <!---------!>
    <!-- Overall page style --!>
    <link href="{{RESOURCE_PATH}}css/style.css" rel="stylesheet">
    <!-- Page slide animation --!>
    <link href="{{RESOURCE_PATH}}css/slide.css" rel="stylesheet">
    <!-- Bootstrap --!>
    <link href="{{RESOURCE_PATH}}css/bootstrap/bootstrap.css" rel="stylesheet">

    <!--------!>
    <!-- JS --!>
    <!--------!>
    <script src="config.js"></script>
    <!-- AngularJS --!>
    <script src="{{RESOURCE_PATH}}js/angular/angular.js"></script>
    <script src="{{RESOURCE_PATH}}js/angular/angular-route.js"></script>
    <script src="{{RESOURCE_PATH}}js/angular/angular-animate.js"></script>
    <!-- Bootstrap --!>
    <script src="{{RESOURCE_PATH}}js/jquery/jquery.js"></script>
    <script src="{{RESOURCE_PATH}}js/bootstrap/bootstrap.js"></script>
    <!-- Scriptjs --!>
    <script src="{{RESOURCE_PATH}}js/scriptjs/scriptjs.js"></script>
    <script src="{{RESOURCE_PATH}}js/requirejs/require.js"></script>
    <!-- Main controller file --!>
    <script src="{{RESOURCE_PATH}}js/app.js"></script>
</head>
<!-- apply our angular app to the body --!>
<body ng-app="interface">
    <!-- inject our views using ng-view --!>
	<!-- each acontroller applies a different class --!>
    <div ng-view class='page {{pageClass}}'>
        <!-- ajax'ed content here --!>
    </div>
</body>
</html>
