I'm control!

<div class="container-fluid" style="width: 30%">
<div class="row">

<div class="col-xs-4 nopadding">
<div class="container-fluid" style="display: inline-block">
    <h1>X/Y</h1>
    <div class="row">
        <div class="col-xs-4 nopadding"></div>
        <div class="col-xs-4 nopadding">
            <label id="control-up" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
            </label>
        </div>
        <div class="col-xs-4 nopadding"></div>
    </div>
    <div class="row">
       <div class="col-xs-4 nopadding">
            <label id="control-left" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            </label>
        </div>
        <div class="col-xs-4 nopadding">
            <label id="control-home-xy" class="btn btn-default">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
            </label>
        </div>
        <div class="col-xs-4 nopadding">
            <label id="control-right" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 nopadding"></div>
        <div class="col-xs-4 nopadding">
            <label id="control-down" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
            </label>
        </div>
        <div class="col-xs-4 nopadding"></div>
    </div>
</div>
</div>

<div class="col-xs-4 nopadding">
<div class="container-fluid">
    <h1>Z</h1>
    <div class="row">
        <label id="control-up-z" class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
        </label>
    </div>
    <div class="row">
        <label id="control-home-z" class="btn btn-default">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
        </label>
    </div>
    <div class="row">
        <label id="control-down-z" class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
        </label>
    </div>
</div>
</div>

<div class="col-xs-4 nopadding">
<div class="container-fluid">
    <h1>E</h1>
    <div class="row">
        <label id="control-extrude" class="btn btn-default" style="width: 100%">Extrude
        </label>
    </div>
    <div class="row">
        <div class="input-group">
          <input type="number" min="0" id="control-mm" class="form-control" value="5" placeholder="5" aria-describedby="basic-addon2">
          <span class="input-group-addon" id="basic-addon2">mm</span>
        </div>
    </div>
    <div class="row">
        <label id="control-retract" class="btn btn-default" style="width: 100%">Retract
        </label>
    </div>
</div>
</div>

</div> <!-- row end -->

<div class="row" style="margin-top:20px;">
<div class="col-xs-8 nopadding">

<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-default">
    <input id="length-01" type="radio" name="options">0.1
  </label>
  <label class="btn btn-default active">
    <input id="length-1" type="radio" name="options" checked>1
  </label>
  <label class="btn btn-default">
    <input id="length-10"type="radio" name="options">10
  </label>
  <label class="btn btn-default">
    <input id="length-100" type="radio" name="options">100
  </label>
</div>
</div> <!-- col end -->
<div class="col-xs-4 nopadding">
    <label id="control-motors-off" class="btn btn-default" style="width: 100%">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
        Motors off
    </label>
</div> <!-- col end -->

</div> <!-- row end -->
</div> <!-- container end -->

<!-- Navigate yourself --!>
<nav>
    <a href="#/" class="btn btn-default">Main</a>
    <a href="#/STL" class="btn btn-default">STL</a>

    <a href="#/STATUS" class="btn btn-default">Status</a>
    <a href="#/CONTROL" class="btn btn-default">Control</a>
    <a href="#/OPTIONS" class="btn btn-default">Options</a>
</nav>

