I'm gcode!

<textarea id="gcode_content" rows="10" cols="80" readonly></textarea>
<form>
Filename:<br>
<input type="text" id="upload_filename">
<button id="upload" class="btn btn-success">Upload GCode</button>
</form>

<textarea id="progress" readonly rows="1" cols="80"></textarea>


<nav>
    <a href="#/">Index</a>
    <a href="#/GCODE">GCODE</a>
    <a href="#/STATUS">Status</a>
    <a href="#/CONTROL">Control</a>
    <a href="#/OPTIONS">Options</a>
</nav>
