    <h1><strong>STL</strong></h1>

       <div style="position:absolute">
        <textarea id="stl_content" rows="10" cols="80" readonly></textarea>
        <!--
     <div id="viewer" style="width:30vw;height:30vw"></div>
     -->
       <form>
           <button id="slice" disabled=true class="btn btn-warning">Slice STL Model</button>
       </form>
       </div>

<nav>
    <a href="#/">Index</a>
    <a href="#/GCODE">GCODE</a>
    <a href="#/STATUS">Status</a>
    <a href="#/CONTROL">Control</a>
    <a href="#/OPTIONS">Options</a>
</nav>
